body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1280px;
    margin: 0 auto; 
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

section{
    padding: 6rem 0;
}
.bg-lightblue{
    background-color: #DCEAF5;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 0;
    padding: 0;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #1D3444;
}

.main-nav li  .yellow{
    background-color: bisque;
    color:#F58A07;
    border-radius: 20px;
    padding:  5px 15px
}
.main-nav li a{
    padding: 0 1rem;
    color: #1D3444;
    font-size: 0.8em;
    
}
.nav-bar .logo{
    font-size: 18px;
    
}

.headline{
    font-size: 4rem;
    color: #063255;
    letter-spacing: -1px;
    line-height: 60px;

}
h1{
    font-weight: 500;
}
.man{
    vertical-align: bottom;
    border-radius: 0;
}

p{
    color:#5B5B5B;
    font-size: smaller;
    padding: 20px 0;
}
img{
    border-radius: 30px;
}

.button {
    font-size: 0.8rem;
    color: #1D3444; 
    margin: 20px;
}
.button:hover{
    color:white;
    background-color: #F58A07;
    border-radius: 30px;
    padding: 10px 15px;
}
.definition p{
    color: #5B5B5B;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.gap {
    gap: 40px;
}
.col-3{
    width: calc(100%/3 - 40px);
    flex: 1;
    flex-basis: 400px;
    
}
.col-2{
    width: calc(100%/2 - 40px);
    flex: 1 250px;
}
.inbox {
    padding: 30px;
}
.col-4{
    display: inline;
    flex: 1 200px;
}
h2{
    font-size: 3rem;
    color:#063255;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 60px;

}
h3{
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 50px;
}


h5{
    font-size: 1.5rem;
    font-weight: 400;
}

.links{
    color: #F58A07;
}
.links:after{
    font-size: 1rem;
    margin-left: 1rem;
    content: '\2192';
    color: #F58A07;
}


.sec-blue .col-3{
   background-color: white;
   border-radius: 20px;
   padding: 20px;
   
   
}
.energy{
    margin: 120px 0;
}
.energy h2{
    font-size: 2.5rem;
    font-weight: 550;

}

h6{
    color: #F58A07;
    font-size: 2rem;
    font-weight: 500;
}

.exp-data h5{
    margin: 0;
}
 

.exp-data h6{
    margin: 0;
}

.energy p{
    margin: 0 30px 0 0;
}

.orange img{
    border-left: 30px solid #F58A07;

}

.absolute{
    position: absolute;
}
.absolute img{
    vertical-align: bottom;
}
.absolute::after{
    content: '';
    position: absolute;
    inset:0 75% 0 0;
    background-color:#F58A07;
    mix-blend-mode: multiply;
    border-radius: 30px 0 0 30px;
}
.full{
    background-color: #F58A07;
}
.coffeebreak{
    background-image: url("images/experience-image.png");
    background-size: cover;
}
/* .exp{
    height: 50vh;
} */
.bg-lightblue .ribb {
    
    margin: 100px;
}
.ribbon{
    border-radius: 30px;
}
.hbutton{
    margin: 50px 0 0 0;
}
.buttons {
    font-size: 0.8rem;
    color: #5B5B5B; 
    margin: 20px;
    border: 1px solid #5B5B5B;
    border-radius: 20px;
    padding: 10px 30px;
    display: inline-block;
}
.buttons:hover{
    color:#F58A07;
    background-color:whitesmoke;
    border: none;
}
.ribb .col-2{
    padding: 50px 20px;
}
.ribbon h2{
    font-size: 2.5rem;
    font-weight: 550;

}

.ribbon{
    position: relative;
}

.ribbon .ribbon-mark{
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 1;
}
.bg-lightblue .banner .man{
    vertical-align: bottom;
}
.full .col-2{
    padding: 100px;
}
.full a{
    font-size: 0.8rem;
    color: #F58A07; 
    margin: 20px;
    border: 1px solid #F58A07;
    background-color:whitesmoke;
    border-radius: 20px;
    padding: 10px 30px;
    display: inline-block;
}
.full a:hover{
    color:whitesmoke;
    background-color:#F58A07;
    border: none;
}

.dream h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 550;
}
.video{
    margin: 70px 0;
   
}
.intro{
    position: relative;
}
.play-but{
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;

}
.play-but a{
    background-color: #F58A07;
    padding: 10px 15px;
    border-radius: 50%;
}
.third-blue img{
    border-radius: 30px 30px 0 0;
}



/* ... */

.Finsweet-was p{
    width: 280px;
}


.myphoto{
    display: flex;
}


.myphoto img{
    width: 60px;
    height: 60px;
}
.ceo-img{
    width: 3.75rem;
}
.ceo-name p{
 padding: 0;
}
.dream{
    margin-top: 150px;
    margin-left: 120px;
}
.myname{
    font-size: 1em;
    color:#063255;
    margin: 0;
}
.myname-1{
    color: #F58A07;


}
.third-blue .h3{
    font-weight: 700;
    margin-block-start: 2em;
}
.last{
    background-color: white;
    border-radius: 30px;
    
}
.last h4{
    font-weight: 500;

}
.col-3 .last img{
   border-radius: 0;
}
.article{
    padding: 30px;
}

footer{
    background-color: #063255;
    color: white;
    padding: 100px;
}

.col-4 h3{
    padding: 0;
    margin: 20px 0;
    font-size: 2em;
    font-weight: 500;
}
.col-4 .logo {
    font-size: 1.2em;
}
i {
    color: white;
    margin: 20px 0 100px;
}
.col-4 .listt ul{
   color: white;
   font-size: 0.8em;
   line-height: 2.2;
}
footer .listt{
    list-style: none;
    padding: 0;
}
footer .listt li{
    padding: .5rem 0;
}
footer .listt a{
    color: white;
}

input{
    background-color: white;
    color: #5B5B5B;
    text-align: left;
    border-radius: 30px;
    padding:  17px 40px;
    margin: 5px;

}
button{
    background-color:#F58A07;
    color: white;
    text-align: right;
    border-radius: 30px;
    padding:  17px 40px;
    margin: 5px;

}
.col-4 a i{
    padding: 10px;
}
footer .nav-bar .rights{
    font-size: 1rem;
}
footer .main-na li a {
    color: white;
}
footer .main-na{
    display: flex;
} 
.main-na a{
    color: white;
    padding-left: 30px;
}
.col-4 .nav b{
    margin-bottom: 40px;
}



/*page2 careers*/
.buttonpage2 {
    font-size: 0.8rem;
    color: #1D3444; 
    margin: 20px;
    background-color: #F58A07;
    color: white;
    border-radius: 30px;
    padding: 10px 15px;
    margin: 30px 0;
}
.buttonpage.buttonpage2{
    color:white;
    background-color: #F58A07;
    border-radius: 30px;
    padding: 10px 15px;
}
.pages1{
    margin-top: 50px;
}
.column{
    padding: 100px 70px;
}
.column h2{
    font-weight: 900;
}
.pages2{
    margin-top: 70px;
}
.pages2 h3{
    font-weight: 500;
}
.pageimg {
    position: absolute;
}
.pageimg img{
    vertical-align: bottom;
}
.pageimg::after{
    content: '';
    position: absolute;
    inset:50% 90% 35% -8%;
    background-color:#F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}
.inbox h6{
    margin: 0;
    color: #063255;
}
.inbox p{
    padding: 0;
}
.rad {
    border-radius: 30px;
}
.full {
    width: 100%;
}